
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone">
  </div>
  <div class="mdl-cell mdl-cell--6-col">

    <h2>Basket</h2>

    <div class="mdl-grid">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">
          <td>{{product.name}}</td>
          <td>£{{product.price}}</td>
        </tr>
        <tr>
          <td><b>TOTAL</b></td>
          <td><b>£{{total | number:2}}</b></td>
        </tr>
      </tbody>
    </table>



    </div>
  </div>
</div>