
<div ng-app="shop">

  <script type="text/ng-template" id="products_list"><%= render partial: "angular/products/list" %></script>
  <script type="text/ng-template" id="basket"><%= render partial: "angular/basket" %></script>

  <ng-view />

</div>