
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone">
  </div>
  <div class="mdl-cell mdl-cell--6-col">

    <h2>Products</h2>

    <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--4-col"  ng-repeat="product in products">
        <div class="demo-card-image mdl-card mdl-shadow--2dp" style="background: url('{{product.image_url}}') center / cover">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">£{{product.price}} {{product.name}}</span>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i ng-click="addToBasket(product)" class="material-icons">add</i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i ng-click="removeFromBasket(product)" class="material-icons">remove</i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>